@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap'); /*fazer funcionar*/

body,html{
    width: 100vw;
    height: 100vh;
}

header{
    background-color: #A13246;
    height: 150px;
}

header > h1{
    display: block;
    text-align: center;
    padding-top:55px;
    font-size: 3em;
    
}

main{
    
    min-width: 300px; /*Quando chegar em 300px, o site para de diminuir*/
    max-width: 1000px; /*Quando chegar em 1000px, o site para de crescer/esticar*/
    margin: auto; /*Centraliza o bloco independente do tamanho da tela*/
    margin-bottom: 30px; /*Não deixa o bloco <main> grudado no <footer>*/
}

main > section > p{
    background-color: white;
    margin-top: 20px 20px;
    padding: 25px;
    text-indent: 25px;
    text-align: justify;

}


